<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marca</th>
        <th scope="col">Línea</th>
        <th scope="col">Modelo</th>
      </tr>
    </thead>
    <tbody>
      @for (vehiculo of vehiculos; track vehiculo.id) {
        <tr>
          <th scope="row">{{ vehiculo.id }}</th>
          <td>{{ vehiculo.marca }}</td>
          <td>{{ vehiculo.linea }}</td>
          <td>{{ vehiculo.modelo }}</td>
        </tr>
      }
    </tbody>
  </table>
  